@import "~bootstrap/scss/bootstrap";

body {
    font-family: sans-serif;
    background: pink;
    color: white;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.selected{
    color: yellow;
}